body {
	margin: 0;
	position: relative;
}

nav {
	background-color: white;
	box-shadow: none;
	position: fixed;
	z-index: 1000;
}

.row {
	margin-bottom: 0;
}

.nav-wrapper {
	padding: 0 65px;

}

.logo {
	height: 56px;
	width: 130px;
	display: inline-block;
	background-image: url(../assets/images/logoForma.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
}

.dropdown-button.btn.hide-on-large-only {
	box-shadow:none;
	background-color: #ffb300;
	border: 1px solid #ffb300;
	color: black;
}

.dropdown-button.btn.hide-on-large-only:active {
	background-color: white;
	color: #ffb300;
}

#hide-menu {
	position: absolute;
	margin: 0;
	width: 100%;
	top: 56px;
	background-color: white;
	box-shadow:  0px 18px 30px 0px rgba(50, 50, 50, 0.57);
}

.invisible {
	display: none;
}

#hide-menu a {
	padding: 0 5%;
	display: block;
	color: black;
	line-height: 60px;
	font-size: 18px;
	transition: 0.4s;
}

#hide-menu a:hover, #hide-menu a:active {
	background-color: rgba(0,0,0,0.1);
}

#hide-menu .divider {
	margin: 0;
}

nav ul a {
	color: #333;
}

nav ul a:hover {
	border-radius: 3px;
}

nav .dropdown-button.btn {
	
}

.uppercase {
	text-transform: uppercase;
}

.small {
	font-size: 14px;
	font-weight: 600;
	padding: 10px 30px;
	border-radius: 3px;
}

hr {
	border: 1px solid white;
 }

button {
	background-color: white;
	border: 1px solid white;
	border-radius: 5px;
	color: black;
	font-size: 18px;
	font-weight: 500;
	padding: 9px 15px;
	outline-style: none;
}

button:active, button:focus {
	background-color: #ffb300;
	color: white;
}

h2 {
	font-size: 35px;
	font-weight: 500;
	margin: 0;
	color: white;
}

h3 {
	font-size: 32px;
	font-weight: 500;
	margin: 0;
	color: white;
}

.travel {
	padding: 30px 0 20px 0;
}

.travel p {
	display:inline-block;
	margin: 0;
	padding-right: 8px;
	line-height: 20px;
	font-weight: 600;
	font-size: 20px;
}

.col.s10.offset-s2.form.amber.darken-1.hide-on-large-only {
	padding: 30px;
}

.col.s10.offset-s2.form.amber.darken-1.hide-on-large-only h3 {
	display: inline-block;
	line-height: 35px;
}

.col.s10.offset-s2.form.amber.darken-1.hide-on-large-only h3 img {
	max-height: 20px;
}

.col.s10.offset-s2.form.amber.darken-1.hide-on-large-only button {
	margin: 40px 0 10px 0;
}

.container-fluid {
	width: 100%;
}

.img-section {
	background-image: url(../assets/images/taxi.jpg);
	background-size: cover;
	background-position: 50% 95%;
	padding: 200px 0 150px 0;
}

.img-section .row {
	margin: 0;
}

div.col.l5.offset-l7.form {
	padding: 40px;
	color: white;
}

.section-two p {
	color: white;
	font-size: 23px;
	font-weight: 400;
}

.section-two h3.hide-on-large-only {
	margin: 10px 0;
}

.section-two p.hide-on-large-only {
	margin: 10px 0 0 0;
}

.section-three p {
	color: white;
	font-size: 18px;
	font-weight: 400;
}

.section-two {
	padding: 40px 0;
}

div.white-border.col.l10.valign-wrapper {
	padding: 40px 130px 40px 40px;
	border: 1px solid white;
	border-left: 0;
	height: 100%;
}

.section-three {
	background-image: url(../assets/images/conduce.jpg);
	background-size: cover;
	background-position: center;
}

.filter-container.col.l4.offset-l8 {
	background: rgba(0,0,0,0.5);
	padding: 80px 40px 200px 40px;
}

.filter-container .content {
	color: white;
}

.m-container {
	width: 85%;
	margin: 0 auto;
}

.img-input {
	max-width: 25px;
}

.row.m-container:not(.footer) {
	padding: 100px 0;
}

.row.m-container:not(.footer) .col {
	padding: 0;
}

.row.m-container h2 {
	margin-top: 0;
}

.frame-container iframe {
	padding: 5px;
	border: 1px solid white;
	width: 500px;
	height: 430px; 
}

.section-four p {
	font-size: 19px;
	color: white;
}

.section-four input.validate {
	height: 25px;
	border: 1px solid white;
	border-radius: 10px;
	margin-bottom: 0;
	padding: 10px;
}

.section-four input.validate::placeholder {
	font-size: 16px;
	font-weight: 400;
	color: white;
}

.section-four form button {
	margin: 30px 0;
}

.section-four input[type=text].validate:focus {
	background-color: white;
	border: 1px solid #ffb300;
	border-bottom: 1px solid #ffb300;
	box-shadow: none;
}

footer {
	padding: 80px 0;
}

footer p {
	padding: 10px 0;
	color: white;
}

.row.footer.m-container.bottom-align {
	display: table;
}

.row.footer.m-container.bottom-align div.col {
	padding: 0;
}

div.col.l3.icons-container, div.col.l3.app-container {
	height: 100%;
	display: table-cell;
	vertical-align: bottom;
	float: none;
	clear: both;
}

div.col.l3.icons-container li {
	font-size: 14px;
	padding: 10px 12px 10px 0;
}

ul.list li {
	line-height: 40px;
}

div.col.l3.app-container {
	margin-bottom: 10px;
}

div.divider {
	margin: 10px 0;
}

div.col.l3.app-container ul li {
	padding: 10px;
}

div.col.l3.icons-container.hide-on-large-only li {
	padding-bottom: 35px;
}

.row.footer.m-container.bottom-align div.col.l3 {
	display: inline-block;
	float: none;
}

.row.footer.m-container.bottom-align a {
	color: white;
}

div.col.l3.app-container ul {
	margin: 0;
}

.row.footer.m-container.bottom-align a:hover {
	color: #ffb300;
}

.profile {
	max-width: 150px;
}

.modal.open {
	width: 500px;
	max-height: 80%;
}

.modal .modal-content {
	padding-top: 15px;
}

.modal-content .input-field input[type=text]:focus,
.modal-content .input-field input[type=password]:focus,
.modal-content .input-field input[type=email]:focus,
.modal-content .input-field input[type=tel]:focus,
.modal-content .input-field input[type=number]:focus {
	border-bottom: 1px solid #ffb300;
	box-shadow: 0 1px 0 0 #ffb300;
}

.modal-content .input-field input[type=text]:focus+label,
.modal-content .input-field input[type=password]:focus+label,
.modal-content .input-field input[type=email]:focus+label,
.modal-content .input-field input[type=tel]:focus+label,
.modal-content .input-field input[type=number]:focus+label {
	color: #ffb300;
}

.modal-content a {
	color: #ffb300;
}

.modal-content a:hover {
	text-decoration: underline;
	color: black;
}

.modal-content button.modal-close.right {
	padding: 0;
}

button.uppercase.login {
	background-color: #ffb300;
	border: 1px solid ;
	color: white;
	padding-left: 20px;
	padding-right: 20px;
}

button.uppercase.login:active {
	background-color: white;
	border: 1px solid #ffb300;
	color: black;
}

button.uppercase.col.l12 {
	background-color: #ffb300;
	color: white;
}

button.col.l12 {
	padding: 12px;
}

.modal-three .modal-content input.select-dropdown {
	margin-bottom: 0;
}

.modal-three .modal-content p {
	font-size: 12px;
	text-align: left;
	margin: 0;
}

.modal-three .row {
	margin-bottom: 25px;
}

.modal-two button.col.l12.already {
	background-color: black;
	color: white;
}

.modal-two button.col.l12.how {
	background-color: #a3a3a3;
	color: black;
	margin-bottom: 15px;
}



::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #a3a3a3;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
  background: #000000;
}
::-webkit-scrollbar-track {
  background: #666666;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #666666;
}
::-webkit-scrollbar-track:active {
  background: #333333;
}
::-webkit-scrollbar-corner {
  background: transparent;
}





@media (max-width: 600px) {
	nav {
		width: 100%;
	}
	.nav-wrapper {
		width: 95%;
		margin: 0 auto;
		padding: 0;
	}

	.frame-container iframe {
		padding: 5px;
		border: 1px solid white;
		width: 100%;
		height: 300px;
	}

	.white-border.col.s12.l10.valign-wrapper {
		padding: 40px;
		width: 100%;
		border: 1px solid white;
	}

	.section-two div.row {
		width: 95%;
	}

	div.col.l3.icons-container, div.col.l3.app-container {
		vertical-align: top;
	}

	.m-container {
		width: 90%;
	}

	.row.m-container:not(.footer), footer {
		padding: 40px 0;
	}
}